<section class="portfolio">
  <div class="container ">
    <div class="ii" >
      <h1 class="fw-bolder text-center">PORTFOLIO COMPONENT</h1>
      <div class="icon3"><i class="fa-solid fa-star"></i></div>
    </div>
    <div class="conatiner">
      <div class="row pt-4">
        <div class="col-md-4 mb-5">
          <div class="picture">
            <img  class="w-100 rounded-2" id="img1" src="/images/poert1.png" alt="" />
            <div
              class="layer d-flex flex-column justify-content-center align-items-center"
            >
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="picture">
            <img class="w-100 rounded-2" src="/images/port2.png" alt="" />
            <div
              class="layer d-flex flex-column justify-content-center align-items-center"
            >
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="picture">
            <img class="w-100 rounded-2" src="/images/port3.png" alt="" />
            <div
              class="layer d-flex flex-column justify-content-center align-items-center"
            >
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="picture">
            <img class="w-100 rounded-2" src="/images/poert1.png" alt="" />
            <div
              class="layer d-flex flex-column justify-content-center align-items-center"
            >
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="picture">
            <img class="w-100 rounded-2" src="/images/port2.png" alt="" />
            <div
              class="layer d-flex flex-column justify-content-center align-items-center"
            >
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="picture">
            <img class="w-100 rounded-2" src="/images/port3.png" alt="" />
            <div
              class="layer d-flex flex-column justify-content-center align-items-center"
            >
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
