<footer >
<div class="container-fluid myfooter">
    <div class="row d-">
        <div class="col-md-4  text-center pt-5   my-5">
            <h3 class="text-light">LOCATION</h3>
            <p class="text-light">2215 John Daniel Drive</p>
            <p class="text-light">Clark, MO 65243</p>
        </div>
        <div class="col-md-4  aboutweb ps-5 pt-5 my-5">
            <h3 class="text-light">AROUND THE WEB</h3>
            <div class="d-flex ms-4 mt-4 ">
                <p><i class="fa-brands fa-facebook"></i></p>
                <p><i class="fa-brands fa-linkedin"></i></p>
                <p><i class="fa-brands fa-twitter"></i></p>
                <p><i class="fa-solid fa-globe"></i></p>
            </div>
            
        </div>
        <div class="col-md-4  text-center pt-5 my-5">
            <h3 class="text-light">ABOUT FREELANCER</h3>
            <p class="text-light">Freelance is a free to use, licensed Bootstrap theme created by Route </p>
           
        </div>
    </div>
</div>
</footer>