.myhome{
    min-height: 100vh;
    background-color: #1ABC9C;

}
.myhome .icon2{
    position: relative;
    text-align: center;
    color: white;
}
.myhome .icon2::after{
    content: "";
    width: 90px;
    height: 4px;
    position: absolute;
    top: 10px;
    right: 630px;
    background-color:white;
}
.myhome .icon2::before{
    content: "";
    width: 90px;
    height: 4px;
    position: absolute;
    top: 10px;
    left:630px;
    background-color:white;
}
.avatar{
    padding-top: 150px;
}
